# Ignore node_modules directory
node_modules/

# Ignore logs
logs/

# Ignore built files
dist/

# Ignore environment variables
.env

# Ignore npm debug log
npm-debug.log

# Ignore yarn debug log
yarn-debug.log
yarn-error.log